<h1 mat-dialog-title>{{ isEditing ? 'Edit' : 'Create' }} User</h1>
<div mat-dialog-content>
  <form fxLayout="column" fxLayoutGap="16px" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
    <mat-form-field>
      <input formControlName="id" matInput placeholder="Enter the user's id" />
      <mat-error *ngIf="form.controls.id.invalid">You must enter an id</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="name" matInput placeholder="Enter your name" />
      <mat-error *ngIf="form.controls.name.invalid">You must enter an name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="avatar" matInput placeholder="Enter your avatar" />
      <mat-error *ngIf="form.controls.avatar.invalid">You must enter an avatar</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="role" matInput placeholder="Enter your role" />
      <mat-error *ngIf="form.controls.role.invalid">You must enter an role</mat-error>
    </mat-form-field>

    <!-- <button type="submit" class="uppercase" mat-flat-button color="primary">Login</button> -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSaveClick()">Save</button>
</div>
