.d1 {
  min-height: 100px;
  min-width: 100px;
  background-color: red;
}

.d2 {
  min-height: 100px;
  min-width: 100px;
  background-color: blue;
}

.d3 {
  min-height: 100px;
  min-width: 100px;
  background-color: green;
}
